.card {
  max-width: 350px;
  border-radius: 20px;
  box-shadow: 8px 8px #111111;
  background-color: #fff;
  overflow: hidden;
  border-color: #111111;
  border: solid 1px;
  padding: 24px;
  gap: 24px;
}

.card-body:hover > h2 {
  color: hsl(40, 98%, 82%);
}

.card-image {
  max-width: auto;
  max-height: 200px;
  border-radius: 10px;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.card-image-div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-tag {
  gap: 8px;
  padding: 4px 12px;
  background-color: hsl(40, 98%, 82%);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-weight: 800;
  margin-bottom: 10px;
  font-size: 14px;
}

.card-date {
  font-weight: 500;
  margin-bottom: 10px;
}

.card-title {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0;
}

.card-text {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  color: #6b6b6b;
  line-height: 1.5;
  letter-spacing: 0;
}

.card-author {
  font-family: "Figtree", sans-serif;
  font-weight: 800;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: auto;
  font-size: 14px;
  letter-spacing: 1.5;
}
